<!DOCTYPE html>
<html>
<head>
	<title>Food Truck Finder</title>
	<link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
	<div id="map-canvas"></div>
	<div id="nav">
		<h1>Food Truck Finder</h1>
		<p>Where do you want to go?</p>
		<input id="search-box" type="text" size="40" name="searchbar" placeholder="Location" /><br>
		<input type="submit" id="submit-button" class="button">
		<button id="here-button" type="button" class="button">Here!</button>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC8EI1PD01LwYKGZ1dRpwfPuB-6r1S8qg&sensor=true&libraries=places"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>